{% load socialaccount %}
{% load static %}

{% get_providers as socialaccount_providers %}

<p>
{% for provider in socialaccount_providers %}
  <a title="{{provider.name}}" class="btn btn-default align-items-center" role="button"
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
    {% if provider.name == 'GitHub' %}
        <img class='btn-img' alt='{{provider.name}}' title="Sign in with GitHub" src="{% static 'images/GitHub-Mark-24px.svg' %}"/> Github
    {% elif provider.name == 'GitLab' %}
        <img class='btn-img' alt="Fd.o GitLab" title="Sign in with Fd.o's GitLab" src="{% static 'images/fdo-logo.png' %}"/> Freedesktop.org GitLab
    {% else %}
        {{provider.name}}
    {% endif %}
  </a>
{% endfor %}
</p>
