{% extends 'gui/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" >
                <div class="panel-heading">Our role</div>
                <div class="panel-body">
                    <p>The X.Org project provides an open source implementation of the X Window System. The development work is being done in conjunction with the freedesktop.org community.</p>

                    <p>The X.Org Foundation is the educational non-profit corporation whose Board serves this effort, and whose Members lead this work.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default" >
                <div class="panel-heading">Useful Links</div>
                <div class="panel-body">
                    <ul>
                    {% for link in links %}
                        <li><a href="{{link.url}}" {% if link.description %}title="{{link.description}}"{% endif %}>{{link.short_name}}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% if user.is_authenticated %}
            {% if user.profile.membership is not None %}
            {% with membership=user.profile.membership %}
            <div class="col-md-4">
                <div class="panel panel-default {% if membership.is_pending %}panel-warning{% elif membership.is_rejected %}panel-danger{% elif membership.is_approved %}panel-success{% endif %}">
                    <div class="panel-heading">Application for the period: {{current_membership_period.short_name}}</div>
                    <div class="panel-body text-center">
                    {% if membership.is_pending %}
                        <p>Thanks for applying, your application is being processed!</p>
                    {% elif membership.is_rejected %}
                        <p>Your application has been rejected. Reason:</p>
                        {{membership.rejection_reason|linebreaks}}
                    {% elif membership.is_approved %}
                        <p>Your application has been approved, thanks for being a member!</p>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endwith %}
            {% else %}
            <div class="col-md-4">
                <div class="panel panel-default panel-warning" >
                    <div class="panel-heading">{% if user.profile.last_membership %}Re-new membership{% else %}Apply for membership{% endif %}: {{current_membership_period.short_name}}</div>
                    <div class="panel-body text-center">
                        <p>{{current_membership_period.description}}</p>
                        <a class="btn btn-primary" href="{% url 'membership-application' %}" role="button">Apply</a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% else %}
            <div class="col-md-4">
                <div class="panel panel-default panel-danger" >
                    <div class="panel-heading">Log-in or Sign-up</div>
                    <div class="panel-body text-center">
                    Please <a href="{% url 'account_login' %}">log-in</a> or <a href="{% url 'account_signup' %}">sign-up</a> to access more information.
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
