{% extends 'gui/base.html' %}

{% load bootstrap3 %}

{% block content %}
    <h1>Membership application</h1>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-critical" >
                <div class="panel-heading">Important information</div>
                <div class="panel-body text-center">
                    <p>No membership period has been created. If you are an administrator, please create a period to allow members to apply.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
